<!-- FOOTER -->
        <hr class="featurette-divider">
        <footer id="sticky-footer" class="container py-12  text-black">
            <div class="row">
                <div class="col-4 col-md">
                    <h5>Atendimento</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">(71) 3378-1951</a></li>
                        <li><a class="text-muted" href="#">contato@bjmcontabilidade.com.br</a></li>
                    </ul>
                </div>
                <div class="col-4 col-md">
                    <h5>Matriz</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="https://www.google.com.br/maps/place/R.+Leonardo+Rodrigues+da+Silva,+257+-+Belo+Horizonte,+Lauro+de+Freitas+-+BA,+42700-000/@-12.8786185,-38.3107119,17z/data=!3m1!4b1!4m5!3m4!1s0x7163e05b57be
                            6a3:0xdc39d732424d1589!8m2!3d-12.8788157!4d-38.3084711?hl=pt-BR">Rua Leonardo Rodrigues da Silva, 257 - Multiplus Empresarial - Sala 602 - Pitangueiras - Lauro de Freitas</a></li>
                    </ul>
                </div>
                <div class="col-4 col-md">
                    <h5 class="text">Redes Socias</h5>
                    <ul class="list-unstyled text-small center">
                        <li>
                           
                           <ion-icon id="facebook"name="logo-facebook" ></ion-icon>
                           <ion-icon id="linkedin" name="logo-linkedin"></ion-icon>
                           <ion-icon id="whatsapp" name="logo-whatsapp"></ion-icon>
                        </li>


                    </ul>
                </div>
               
        </footer>
           <div id= "bg-container" class=" text-center text-white">
                    <h5>&copy; 2020 BJM LDTA. TODOS OS DIREITOS RESERVADOS.</h5>
                </div>