  <header>
        <nav id= "bg-container" class="navbar navbar-expand-lg navbar-light   fixed-top">
            <a class="navbar-brand text-white" href="#">BJM Contabilidade</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/sobre">Sobre<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/servicos">Serviços<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Contatos
                      </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/clientes">Clientes</a>
                            <a class="dropdown-item" href="/links">Links</a>
                            <a class="dropdown-item" href="/postes">Postagens</a>
                            <a class="dropdown-item" href="/contato">Contato</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="Serviços.html"><ion-icon name="headset"></ion-icon> Locais de Atendimento<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="Serviços.html"><ion-icon name="logo-whatsapp"></ion-icon> WhatsApp<span class="sr-only">(current)</span></a>
                    </li>
                   
                </ul>
                    
                   <a class="nav-link " href="/login"><button type="button" class="btn btn-outline-light   mr-sm-2"><span class="caret">LOGIN</span></button></a>
                   <a class="nav-link" href="/register"><button type="button" class="btn btn-outline-light  mr-sm-0"><span class="caret">CADASTRAR</span></button></a>
            </div>
        </nav>
    </header>