 <main role="main">


        <h4 class="featurette-heading text-center">Conheça nossos Clientes<span></span></h4><br>

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
        <div class="container">
            <div class="row featurette ">
                <div class="col-md-12">
                    <h1 class="text-center">Clientes<span class="text-muted"></span></h1><br>
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="col-sm"><img alt="logo" title="logo" src="img/Cliente-MrRepresentações.png" /></div>
                        <div class="col-sm"><img alt="logo" title="logo" src="img/Cliente-Marmorale.png" /></div>
                        <div class="col-sm"><img alt="logo" title="logo" src="img/Cliente-VmFrutas.png" /></div>
                        <div class="col-sm"><img alt="logo" title="logo" src="img/Cliente-RFINDUSTRIA.png" /></div>
                    </div>
                </div>


            </div>

        </div>




        </div>
        <hr class="featurette-divider">
 
    </main>