 <main role="main">


        <h4 class="featurette-heading text-center">Fale Conosco<span></span></h4><br>

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
        <div class="container">
            <div class="row featurette ">

                <div class="container">
                    <h2 class="text-center">Formulário</h2>
                    <form>
                        <div class="form-group">
                            <label for="usr">Name:</label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                        <div class="form-group">
                            <label for="email">E-Mail:</label>
                            <input type="text" class="form-control" id="pwd">
                        </div>
                        <div class="form-group">
                            <label for="usr">Telefone:</label>
                            <input type="text" class="form-control" id="usr">
                        </div>

                        <div class="form-group">
                            <label for="usr">Mensagem:</label>
                            <textarea class="form-control" aria-label="With textarea" rows="7"></textarea>
                        </div>
                    </form>
                    <button type="button" class="btn btn-dark">Enviar</button>
                </div>
            </div>
            <br>
            <div class="col-md-12">

                <h1 class="text-center">Informações<span class="text-muted"></span></h1><br>
                <h5 class="font-weight-light"> <strong>E-mail:  </strong>contato@bjmcontabilidade.com.br</h5>
                <h5 class="font-weight-light"> <strong>Celular:  </strong>(71) 8195-2497</h5>
                <h5 class="font-weight-light"> <strong>Telefone:  </strong>(71) 3378-1951</h5>
                <h5 class="font-weight-light"> <strong>Endereço:  </strong>Rua Leonardo Rodrigues da Silva, 257 - Multiplus Empresarial - Sala 602 - Pitangueiras - Lauro de Freitas.</h5>

            </div>
        </div>

        </div>
    </main>