 <main role="main"></main>
  <div class="container mt-3">
        <h2>Toggleable Tabs</h2>
        <br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">Acessoria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">Benefícios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">Vantagens para Empresas</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home" class="container tab-pane active"><br>
                <h3>Confira os Nossos Principais Serviços</h3>

                <div class="row">
                    <div class="col-lg-4">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Planejamento financeiro;<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Projetos de investimentos;<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Planejamento tributário;<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Abertura de empresas;<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Contabilidade em geral;<span class="sr-only">(current)</span></a>
                            </li>
                        </ul>

                    </div>

                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Cálculos Trabalhistas;<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Folha de Pagamento;<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Assessoria na implementação da nota fiscal eletrônica;<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Acompanhamento de situção fiscal;<span class="sr-only">(current)</span></a>
                            </li>

                        </ul>
                    </div>

                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Declarações (federais, Estaduais e Municipais);<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Alteração Contratual;<span class="sr-only">(current)</span></a>
                            </li>

                        </ul>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
            </div>
            <div id="menu1" class="container tab-pane fade"><br>
                <h3>Benefícios Agregados aos Nossos Serviços</h3>
                <div class="col-lg-4">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Agilidade no atendimento e eficácia na elaboração e execução de contratos e projetos;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Documentos informatizados com qualidade;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Profissionais de nível superior legalmente habilitado e com especialização nas áreas de Controladoria, Finanças e Tributos, devidamente registrados no Conselho Regional de Contabilidade da Bahia (CRC / BA), com Certificação Digital;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Atendimento em escritório próprio e no ambiente do cliente;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Relação custo x benefício otimizada;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Experiência de relacionamento profissional com o mercado;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Consultoria via tele-atendimento para clientes regulares;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Discrição e ética profissional.<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Atendimento aos requisitos da legislação pertinente a cada empresa;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Prevenção e redução da baixa lucratividade, através do planejamento financeiro;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Projetos de investimentos, para captação de recursos para ampliação ou manutenção do seu negócio;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Diminuição da carga de impostos através do planejamento tributário;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Redução e/ou eliminação de custos com multas, perícias e indenizações legais;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Escrituração contábil, obedecendo aos princípios e prazos legais, com certificação digital;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Preservação da imagem da empresa.<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="menu2" class="container tab-pane fade"><br>
                <h3>Vantagens para a Empresa Contratante</h3>
                <div class="col-lg-4">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Atendimento aos requisitos da legislação pertinente a cada empresa;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Prevenção e redução da baixa lucratividade, através do planejamento financeiro;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Projetos de investimentos, para captação de recursos para ampliação ou manutenção do seu negócio;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Diminuição da carga de impostos através do planejamento tributário;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Redução e/ou eliminação de custos com multas, perícias e indenizações legais;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Escrituração contábil, obedecendo aos princípios e prazos legais, com certificação digital;<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Preservação da imagem da empresa.<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
 </main>